
<%- include("partials/header.ejs"); -%>
<div class="jumbotron container">
    <h2>Welcome to E-ally</h2>
    <p>Find your partner for learning and sharing knowledge.</p>
</div>
<br>
<br>
<hr>
<div class="container">
    <h5>New Member?</h5>
    <a href="/signup" class="btn btn-primary btn-lg" role="button">Sign Up</a>
    <br>
    <hr>
    <h5>Already A Member?</h5>
    <a href="/login" class="btn btn-primary btn-lg" role="button">Log in</a>
</div>
<br>
<br>
<hr>
<%- include ("partials/footer.ejs"); -%>